.contact-child,
.frame-child83 {
  position: relative;
  box-sizing: border-box;
  display: none;
}
.contact-child {
  width: 498px;
  height: 238px;
  border-radius: var(--br-11xl);
  background-color: var(--color-white);
  border: 5px solid var(--color-slategray);
  max-width: 100%;
}
.frame-child83 {
  height: 105px;
  width: 119px;
  border-radius: var(--br-6xl);
  background-color: var(--color-cadetblue-200);
  border: 4px solid var(--color-cadetblue-400);
}
.palanca-de-mando-removebg-prev-icon {
  height: 73px;
  width: 96px;
  position: relative;
  object-fit: cover;
  z-index: 1;
}
.rectangle-parent71 {
  border-radius: var(--br-6xl);
  background-color: var(--color-cadetblue-200);
  border: 4px solid var(--color-cadetblue-400);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-2xs) var(--padding-2xs) var(--padding-2xs)
    var(--padding-xs);
  cursor: pointer;
  z-index: 2;
}
.image-14-icon {
  height: 80px;
  width: 80px;
  position: relative;
  object-fit: cover;
  z-index: 1;
}
.palanquin-image,
.rectangle-parent72 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.rectangle-parent72 {
  border-radius: var(--br-6xl);
  background-color: var(--color-cadetblue-200);
  border: 4px solid var(--color-cadetblue-400);
  justify-content: flex-start;
  padding: var(--padding-6xs) var(--padding-base) var(--padding-5xs)
    var(--padding-4xl);
  cursor: pointer;
  z-index: 2;
}
.palanquin-image {
  width: 386px;
  justify-content: space-between;
  padding: 0 var(--padding-19xl) 0 var(--padding-13xl);
  box-sizing: border-box;
  max-width: 100%;
  gap: var(--gap-xl);
  z-index: 1;
}
.juegos,
.quizzes2 {
  position: relative;
  font-weight: 600;
  display: inline-block;
  min-width: 93px;
  z-index: 1;
}
.quizzes2 {
  min-width: 97px;
}
.contact,
.contact-value,
.features {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.contact-value {
  flex: 1;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.contact,
.features {
  width: 386px;
  justify-content: flex-start;
  padding: 0 var(--padding-27xl) 0 var(--padding-26xl);
  box-sizing: border-box;
  max-width: 100%;
}
.contact {
  width: 498px;
  position: relative;
  border-radius: var(--br-11xl);
  background-color: var(--color-white);
  border: 5px solid var(--color-slategray);
  flex-direction: column;
  padding: var(--padding-23xl) var(--padding-32xl) var(--padding-22xl);
  line-height: normal;
  letter-spacing: normal;
  max-width: 90%;
  max-height: 90%;
  overflow: auto;
  text-align: left;
  font-size: var(--font-size-6xl);
  color: var(--color-black);
  font-family: var(--font-poppins);
}
@media screen and (max-width: 450px) {
  .palanquin-image {
    flex-wrap: wrap;
  }
  .juegos,
  .quizzes2 {
    font-size: var(--font-size-xl);
  }
  .contact-value {
    flex-wrap: wrap;
  }
  .features {
    padding-left: var(--padding-xl);
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
}
