.matemticas {
  margin: 0;
  position: relative;
  font-size: inherit;
  font-weight: 500;
  font-family: inherit;
  z-index: 1;
}
.subject-math {
  width: 1286px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 var(--padding-2xl) 0 var(--padding-xl);
  box-sizing: border-box;
  max-width: 100%;
}
.frame-child42 {
  height: 78px;
  width: 1285px;
  position: relative;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: var(--br-6xl);
  background-color: var(--color-white);
  display: none;
  max-width: 100%;
}
.vector-icon4 {
  width: 50px;
  height: 48px;
  position: relative;
  z-index: 2;
}
.vector-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-7xs) 0 0;
}
.buscar-temas3 {
  position: relative;
  font-weight: 500;
  white-space: nowrap;
  z-index: 2;
}
.rectangle-parent34 {
  width: 1285px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: var(--br-6xl);
  background-color: var(--color-white);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-4xs) var(--padding-41xl);
  box-sizing: border-box;
  gap: 54px;
  max-width: 100%;
  z-index: 1;
  font-size: var(--font-size-21xl);
  color: var(--color-lightslategray-100);
}
.navigation-shape {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-81xl);
  background-color: var(--color-cadetblue-400);
  width: 100%;
  height: 100%;
}
.icon-arrow-left5 {
  position: absolute;
  top: 214px;
  left: 113px;
  width: 60px;
  height: 70.3px;
  cursor: pointer;
  z-index: 1;
}
.navigation2 {
  width: 100%;
  height: 498px;
  position: absolute;
  margin: 0 !important;
  top: -137px;
  right: 0;
  left: 0;
}
.learning-path,
.number-theory {
  align-self: stretch;
  display: flex;
  box-sizing: border-box;
  font-family: var(--font-poppins);
  color: var(--color-black);
}
.learning-path {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-29xl) var(--padding-xl) var(--padding-46xl);
  position: relative;
  gap: var(--gap-23xl);
  max-width: 100%;
  text-align: left;
  font-size: var(--font-size-66xl);
}
.number-theory {
  width: 100%;
  border: 0;
  outline: 0;
  background-color: var(--color-white);
  height: 110px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: var(--br-xl);
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: var(--padding-6xl) var(--padding-36xl);
  font-weight: 500;
  font-size: var(--font-size-21xl);
  min-width: 250px;
}
.nmeros-naturales-enteros {
  position: relative;
  font-weight: 500;
  cursor: pointer;
  z-index: 1;
}
.number-theory1,
.rectangle-parent35 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  box-sizing: border-box;
  max-width: 100%;
}
.rectangle-parent35 {
  flex: 1;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: var(--br-xl);
  background-color: var(--color-white);
  justify-content: flex-start;
  padding: var(--padding-6xl) var(--padding-36xl);
}
.number-theory1 {
  align-self: stretch;
  justify-content: flex-end;
  padding: 0 var(--padding-9xs) 0 0;
}
.number-theory-child,
.number-theory2,
.rectangle-parent36,
.rectangle-parent37 {
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: var(--br-xl);
  background-color: var(--color-white);
  max-width: 100%;
}
.number-theory-child {
  height: 110px;
  width: 1289px;
  position: relative;
  display: none;
}
.number-theory2,
.rectangle-parent36,
.rectangle-parent37 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  box-sizing: border-box;
}
.number-theory2 {
  align-self: stretch;
  padding: var(--padding-6xl) var(--padding-32xl);
}
.rectangle-parent36,
.rectangle-parent37 {
  flex: 1;
  padding: var(--padding-6xl) var(--padding-36xl);
}
.polinomios {
  position: relative;
  font-weight: 500;
  z-index: 1;
}
.number-theory5 {
  align-self: stretch;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: var(--br-xl);
  background-color: var(--color-white);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-9xl) var(--padding-32xl) var(--padding-3xl);
  box-sizing: border-box;
  max-width: 100%;
}
.ecuaciones-y-desigualdades {
  margin: 0;
}
.number-theory6 {
  align-self: stretch;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: var(--br-xl);
  background-color: var(--color-white);
  flex-direction: row;
  align-items: flex-start;
  padding: var(--padding-10xl) var(--padding-32xl) var(--padding-2xl);
  box-sizing: border-box;
}
.number-theory6,
.number-theory7,
.operations-basics {
  display: flex;
  justify-content: flex-start;
  max-width: 100%;
}
.number-theory7 {
  align-self: stretch;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: var(--br-xl);
  background-color: var(--color-white);
  flex-direction: row;
  align-items: flex-start;
  padding: var(--padding-11xl) var(--padding-32xl) var(--padding-xl);
  box-sizing: border-box;
}
.operations-basics {
  width: 1293px;
  flex-direction: column;
  align-items: flex-end;
  gap: var(--gap-5xl);
  text-align: left;
  font-size: var(--font-size-21xl);
  color: var(--color-black);
  font-family: var(--font-poppins);
}
.content3,
.matematicas {
  display: flex;
  align-items: flex-start;
  box-sizing: border-box;
}
.content3 {
  align-self: stretch;
  flex-direction: row;
  justify-content: center;
  padding: 0 var(--padding-2xl) 0 var(--padding-xl);
  max-width: 100%;
}
.matematicas {
  width: 100%;
  position: relative;
  background-color: var(--color-whitesmoke);
  overflow: hidden;
  flex-direction: column;
  justify-content: flex-start;
  padding: 0 0 var(--padding-16xl);
  gap: var(--gap-23xl);
  line-height: normal;
  letter-spacing: normal;
}
@media screen and (max-width: 1200px) {
  .rectangle-parent35 {
    padding-left: var(--padding-8xl);
    padding-right: var(--padding-8xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 1050px) {
  .nmeros-naturales-enteros,
  .polinomios {
    font-size: var(--font-size-13xl);
  }
}
@media screen and (max-width: 750px) {
  .rectangle-parent34 {
    gap: var(--gap-8xl);
    padding-left: var(--padding-11xl);
    padding-right: var(--padding-11xl);
    box-sizing: border-box;
  }
  .learning-path {
    gap: var(--gap-2xl);
  }
  .number-theory2,
  .rectangle-parent36 {
    padding-left: var(--padding-6xl);
    padding-right: var(--padding-6xl);
    box-sizing: border-box;
  }
  .rectangle-parent36 {
    padding-left: var(--padding-8xl);
    padding-right: var(--padding-8xl);
  }
  .number-theory6,
  .number-theory7 {
    padding-left: var(--padding-6xl);
    padding-right: var(--padding-6xl);
    box-sizing: border-box;
  }
  .matematicas {
    gap: var(--gap-2xl);
  }
}
@media screen and (max-width: 450px) {
  .learning-path {
    padding-top: var(--padding-12xl);
    padding-bottom: var(--padding-23xl);
    box-sizing: border-box;
  }
  .nmeros-naturales-enteros {
    font-size: var(--font-size-5xl);
  }
  .rectangle-parent37 {
    padding-left: var(--padding-xl);
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
  .polinomios {
    font-size: var(--font-size-5xl);
  }
  .number-theory5 {
    padding-left: var(--padding-xl);
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
}
